html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.fabada {
    color: #fabada;
}

.aqua {
    color: aqua;
}

.green {
    color: green;
}

.red {
    color: red;
}

.grey {
    color: grey;
}

.coral {
    color: coral;
}

